*recycle
__pycache__
*.tar.gz

.HA_VERSION
.bash_history
.cache/
.cloud/
.code-server/
.ha_run.lock
.storage/
.vscode/
automations.yaml
custom_components/
deps/
home-assistant.log*
home-assistant_v2.db*
image/
tts/
www/
