---
# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

# Configure Home Assistant
homeassistant:
  # allowlist_external_dirs:
  #   - /data
  auth_mfa_modules:
    - type: totp
      name: Authenticator app
    - type: notify
      message: "I almost forget, to get into my clubhouse, you need to say {}"
  customize: !include_dir_merge_named customizations/

logger:
  default: info
  # logs:
  #   homeassistant.components.rest: debug
  #   homeassistant.util.aiohttp: debug
  #   aiohttp.access: debug

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 192.168.1.0/24
    - 192.168.20.0/24
    - 192.168.100.0/24
    - 192.168.101.0/24
    - 10.42.0.0/16
    - 10.244.0.0/16

ffmpeg:
  ffmpeg_bin: /usr/bin/ffmpeg

# recorder: !include recorder.yaml

group: !include_dir_named groups/
counter: !include_dir_merge_named counters/
input_boolean: !include_dir_merge_named inputs/boolean/
input_number: !include_dir_merge_named inputs/numbers/
input_datetime: !include_dir_merge_named inputs/datetime/
input_select: !include_dir_merge_named inputs/select/
rest_command: !include_dir_merge_named rest_commands/

# Sensor configuration
sensor: !include_dir_list sensors/
binary_sensor: !include_dir_list binary_sensors/
template: !include_dir_list templates/

# MQTT configuration
# mqtt: !include mqtt.yaml

light: !include_dir_list lights/

automation manual: !include_dir_list automation/
automation ui: !include automations.yaml

script: !include_dir_merge_named scripts/
scene: !include_dir_list scenes/

lovelace:
  mode: yaml
  resources:
    - url: /hacsfiles/mini-graph-card/mini-graph-card-bundle.js
      type: module
    - url: /hacsfiles/bar-card/bar-card.js
      type: module
    # - url: /hacsfiles/simple-thermostat/simple-thermostat.js
    #   type: module
    - url: /hacsfiles/vacuum-card/vacuum-card.js
      type: module
    # - url: /hacsfiles/lovelace-auto-entities/auto-entities.js
    #   type: module
    - url: /hacsfiles/lovelace-layout-card/layout-card.js
      type: module
    - url: /hacsfiles/button-card/button-card.js
      type: module
    - url: /hacsfiles/lovelace-mushroom/mushroom.js
      type: module
    - url: /hacsfiles/Bubble-Card/bubble-card.js
      type: module
    # - url: /hacsfiles/apexcharts-card/apexcharts-card.js
    #   type: module
    - url: /hacsfiles/lovelace-digital-clock/digital-clock.js
      type: module
