---
# create a gitub workflow to call a webhook with curl command after push to main branch

name: Reload HomeAssistant

on:
  push:
    branches: [main]

jobs:
  call-webhook:
    runs-on:
      - tyriis-homeassistant-config-runner
    steps:
      - name: Call webhook
        run: curl -X POST ${{ secrets.WEBHOOK_URL }}
